<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace="ProductBoardMapper">

	<resultMap id="productBoardSelectMap" type="productBoard">
		<result property="boardNo" column="BOARD_NO" jdbcType="NUMERIC"/>
		<result property="title" column="TITLE" jdbcType="VARCHAR"/>
		<result property="boardDetail" column="BOARD_DETAIL" jdbcType="VARCHAR"/>
		<result property="quantity" column="QUANTITY" jdbcType="NUMERIC"/>
		<result property="boardRegDate" column="BOARD_REG_DATE" jdbcType="DATE"/>
		<result property="viewCount" column="VIEW_COUNT" jdbcType="NUMERIC"/>
		<result property="prodPrice" column="price" jdbcType="NUMERIC"/>
		<result property="fileName" column="image_file" jdbcType="VARCHAR"/>
	</resultMap>
	
	<resultMap id="DiscountSelectMap" type="discount">
		<result property="discountDate" column="discount_date" jdbcType="VARCHAR"/>
		<result property="discountBoard" column="discount_board" jdbcType="NUMERIC"/>
	</resultMap>
	
	<resultMap id="commentsSelectMap" type="comments">
		<result property="boardNo" column="board_no" jdbcType="NUMERIC"/>
		<result property="userId" column="user_id" jdbcType="VARCHAR"/>
		<result property="comments" column="comments" jdbcType="VARCHAR"/>
		<result property="comRegDate" column="com_reg_date" jdbcType="DATE"/>
		<result property="commentsNo" column="comments_no" jdbcType="NUMERIC"/>
		<result property="starRating" column="star_rating" jdbcType="VARCHAR"/>
	</resultMap>
	
	<insert id="insertProductBoard" parameterType="productBoard">
		
		INSERT
		INTO PRODUCT_BOARD
		(BOARD_NO,
		TITLE,
		BOARD_DETAIL,
		QUANTITY,
		BOARD_REG_DATE,
		VIEW_COUNT,
		image_file)
		VALUES
		(SEQ_PRODUCT_BOARD.nextval,
		#{title:VARCHAR},
		#{boardDetail:VARCHAR},
		#{quantity:NUMERIC},
		sysdate,
		#{viewCount:NUMERIC},
		#{fileName:VARCHAR})
		
	</insert>
	
	<select id="getProductBoard" parameterType="int" resultMap="productBoardSelectMap">
		SELECT
		*
		FROM PRODUCT_BOARD
		WHERE
		BOARD_NO = #{boardNo}
	</select>
	
	<select id="getProductBoardList" parameterType="search" resultMap="productBoardSelectMap">
		SELECT *
		FROM(SELECT inner_table.*, ROWNUM row_seq 
				FROM (SELECT
						pb.*,p.price
						FROM PRODUCT_BOARD pb, (SELECT
												DISTINCT
												board_no,price
												FROM
												PRODUCT
												WHERE BOARD_NO IS NOT NULL) p
						<where>
							 pb.board_no = p.board_no 
							<if test='searchCondition != null and searchCondition == "0"'>
								AND pb.BOARD_NO LIKE ('%' || #{searchKeyword} || '%')
							</if>
							<if test='searchCondition != null and searchCondition == "1"'>
								AND UPPER(pb.TITLE) LIKE UPPER('%' || #{searchKeyword} || '%')
							</if>
							<if test='searchCondition != null and searchCondition == "2"'>
								AND UPPER(pb.BOARD_DETAIL) LIKE UPPER('%' || #{searchKeyword} || '%')
							</if>
							
							<if test='searchStatus != null and searchStatus == "1"'>
								AND QUANTITY > 0
							</if>
							
							<if test='searchStatus != null and searchStatus == "2"'>
								AND QUANTITY &lt; 1
							</if>
							
							
						</where>
						<if test='orderType != null and orderType == "1"'>
							ORDER BY pb.board_reg_date DESC
						</if>
						<if test='orderType != null and orderType == "2"'>
							ORDER BY p.price DESC
						</if>
						<if test='orderType != null and orderType == "3"'>
							ORDER BY p.price ASC
						</if>
						<if test="orderType == null">
						ORDER BY pb.board_reg_date DESC						
						</if>
						) inner_table 
				WHERE ROWNUM &lt;= #{endRowNum} )
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<update id="updateProductBoard" parameterType="productBoard">
		UPDATE
		PRODUCT_BOARD
		SET
		TITLE=#{title:VARCHAR},
		BOARD_DETAIL = #{boardDetail:VARCHAR},
		QUANTITY = #{quantity:NUMERIC},
		image_file=#{fileName:VARCHAR} 
		WHERE
		BOARD_NO = #{boardNo}
	</update>
	
	<delete id="deleteProductBoard" parameterType="int">
		DELETE
		FROM PRODUCT_BOARD
		WHERE
		BOARD_NO = #{value}
	</delete>
	
	<select id="getTotalCount" parameterType="search" resultType="int">
		SELECT
		COUNT(*)
		FROM
			(SELECT
						pb.*,p.price
						FROM PRODUCT_BOARD pb, (SELECT
												DISTINCT
												board_no,price
												FROM
												PRODUCT
												WHERE BOARD_NO IS NOT NULL) p
						<where>
							 pb.board_no = p.board_no
							<if test='searchCondition != null and searchCondition == "0"'>
								AND pb.BOARD_NO LIKE ('%' || #{searchKeyword} || '%')
							</if>
							<if test='searchCondition != null and searchCondition == "1"'>
								AND UPPER(pb.TITLE) LIKE UPPER('%' || #{searchKeyword} || '%')
							</if>
							<if test='searchCondition != null and searchCondition == "2"'>
								AND UPPER(pb.BOARD_DETAIL) LIKE UPPER('%' || #{searchKeyword} || '%')
							</if>
						</where>
				) countTable
	</select>
	
	<update id="addViewCount" parameterType="int">
		UPDATE PRODUCT_BOARD 
		SET view_count=(NVL(view_count,0)+1) 
		WHERE board_no=#{value}
	</update>
	
	<select id="selectDiscountProdBoard" resultMap="DiscountSelectMap" >
		SELECT discount_date, discount_board 
		FROM DISCOUNT WHERE to_char(sysdate,'yy/mm/dd') = discount_date
	</select>
	
	<insert id="insertDiscountProdBoard" parameterType="discount">
		INSERT INTO DISCOUNT 
		(discount_date,discount_board ) 
		VALUES (sysdate,#{discountBoard})
	</insert>
	
	<select id="getRandomProdBoardNo" resultType="int">
		SELECT 
		BOARD_NO FROM( 
				SELECT *
				FROM PRODUCT_BOARD 
				WHERE 
				QUANTITY &gt; 0  
				ORDER BY DBMS_RANDOM.RANDOM  
				)  
		WHERE ROWNUM = 1
	</select>
	
		
	<select id="getTitleByKeyword" parameterType="string" resultMap="productBoardSelectMap">
		SELECT
		TITLE
		FROM
		PRODUCT_BOARD
	</select>
	
	<select id="selectCommentsList" parameterType="int" resultMap="commentsSelectMap">
		SELECT
		*
		FROM
		COMMENTS
		WHERE
		BOARD_NO = #{value}
		ORDER BY COM_REG_DATE DESC
	</select>
	
	<insert id="insertCommnets" parameterType="comments">
		INSERT
		INTO
		COMMENTS
		(BOARD_NO,
		COMMENTS_NO,
		USER_ID,
		COMMENTS,
		COM_REG_DATE,
		STAR_RATING)
		VALUES
		(#{boardNo:NUMERIC},
		SEQ_COMMENTS.nextval,
		#{userId:VARCHAR},
		#{comments:VARCHAR},
		sysdate,
		#{starRating:VARCHAR})
	</insert>
	
</mapper>